@model IEnumerable<Report.Models.db_data>;
@{
    ViewData["Title"] = "Tolid";
}

<div class="direction-rtl">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-data3 table-striped text-center">
                            <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>تاریخ</th>
                                    <th>نام دستگاه</th>
                                    <th>کالا</th>
                                    <th>تعداد</th>
                                    <th>ضایعات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int Index = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <label>@Index</label>
                                        </td>
                                        <td>
                                            <label>@item.tar_f</label>
                                        </td>
                                        <td>
                                            <label>@item.devices.dev_name</label>
                                        </td>
                                        <td>
                                            <label>@item.kalas.kala</label>
                                        </td>
                                        <td>
                                            <label>@item.tedad</label>
                                        </td>
                                        <td>
                                            <label>@item.tedad_scrap</label>
                                        </td>
                                    </tr>
                                    Index++;
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

